.mainDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 1px);

    // Left panel
    .options{
        border: 1px solid #FFFFFF;
        width: 10vh;
        border-radius: 40px 10px 10px 40px;
        background-color: #FFFFFF;
        padding-left: 35px;
        padding-top: 40px;

        #iconStandard{
            padding-left: 0px;
        }

        #iconSicon{
            margin-top: 50px;
            padding-left: 0px;
            margin-bottom: -25px;

            .selecticonSIcon{
                cursor: pointer;
                /* border: 1px solid #303030; */
            }
            .selecticonSIconNoBorder{
                cursor: pointer;
            }
            
        }
        
        .subIcon{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 4;
            /* padding-left: 6px; */

            #iconCalender{
                .selecticonCalender{

                    padding: 12px 9px 6px 8px;
                    border: 1px solid #303030;
                    border-radius: 10px;
                    background-color: #303030;
                    cursor: pointer;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }

                .selecticonCalenderNoBorder{

                    padding: 12px 10px 6px 9px;
                    cursor: pointer;
                    /* border: 1px solid #303030; */
                    //border-radius: 10px;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
            }
            #iconMessage{
                .selecticonIconMessage{
                   
                    padding: 12px 9px 6px 8px;
                    border: 1px solid #303030;
                    background-color: #303030;
                    border-radius: 10px;
                    cursor: pointer;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }

                .selecticonIconMessageNoBorder{
                   
                    padding: 12px 10px 6px 9px;
                    cursor: pointer;
                    /* border: 1px solid #303030; */
                    border-radius: 10px;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
            }
            #iconClock{
                .selecticonIconClock{
                   
                    padding: 12px 9px 6px 8px;
                    border: 1px solid #303030;
                    background-color: #303030;
                    border-radius: 10px;
                    cursor: pointer;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
                .selecticonIconClockNoBorder{
                   
                    padding: 12px 10px 6px 9px;
                    cursor: pointer;
                    /* border: 1px solid #303030; */
                    border-radius: 10px;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
            }
            #iconSettings{
                .selecticonIconSettings{
                   
                    padding: 12px 9px 6px 8px;
                    border: 1px solid #303030;
                    background-color: #303030;
                    border-radius: 10px;
                    cursor: pointer;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
                .selecticonIconSettingsNoBorder{
                   
                    padding: 12px 10px 6px 9px;
                    cursor: pointer;
                    /* border: 1px solid #303030; */
                    border-radius: 10px;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
            }
            #iconLogout{
                .selecticonIconLogout{
                    padding: 12px 9px 6px 8px;
                    border: 1px solid #303030;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: #303030;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
                .selecticonIconLogoutNoBorder{
                    cursor: pointer;
                    padding: 12px 10px 6px 9px;
                    /* border: 1px solid #303030; */
                    border-radius: 10px;
                    img{
                        background-color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    // Health Overview Cards

    .healthOverviewMain{
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 30px;

        .subhealthOverview{
            flex: 1;

            .healthOverviewtop{
                display: flex;
                flex-direction: row;

                .healthHeading{
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 35.14px;
                }
                .serachbellIcon{
                    flex: 1;
                }
            }
            .dateCards{
                margin-top: 15px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20.08px;
            }
            .mainCards {
                display: flex;
                justify-content: space-between;

                .cards{
                    width: 213px;
                    height: 262px;
                    margin-top: 20px;
                    background-color: #FFFFFF;
                    border: 2px solid #FFFFFF;
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .topIcon{
                        display: flex;
                        //justify-content: space-between;
                    }

                    .iconBackground{
                        width: 29px;
                        padding: 10px;
                        border: 1px solid transparent;
                        border-radius: 12px;
                    }
                    .testName{
                        font-size: 16px;
                        font-weight: 600;
                        padding: 20px;
                    }
                    .measureName{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .measureUnit{

                    }
                    .testResult{
                        font-size: 12px;
                        font-weight: 600;
                        width: 40px;
                        padding: 10px;
                        border: 1px solid transparent;
                        border-radius: 5px;
                    }
                }
                
            }
        }

        .activityGrowth{
            flex: 1;
            width: auto;
            height: auto;
            margin-top: 20px;
            background-color: #FFFFFF;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            padding: 20px;

            .activityGrowthTxt{
                font-size: 20px;
                font-weight: 700;
            }
            .datePicker{
                float: right;
            }
            .graph-chart{
                display: flex;
                justify-content: center;
            }
        }
        .appointments{
            flex: 1;
            margin-top: 20px;
            width: auto;
            height: 50px;
            margin-top: 20px;
            background-color: #FFFFFF;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            .upcomingAppointment{
                font-size: 20px;
                font-weight: 600;
            }

            .appointmentDate{
                font-size: 12px;
                font-weight: 700;
                border: 1px solid transparent;
                background-color: #D0FBFF;
                border-radius: 8px;
                padding: 7px;
            }
            .appointmentName{
                font-size:16px;
                font-weight: 400;
            }
        }
    }

    // BMI Calculator
    .bmicalculatorMain{
        flex: 1;
        border: 1px solid #303030;
        border-radius: 40px 10px 10px 40px;
        background-color: #303030;
        padding: 30px;

        .mainHeading{
            font-size: 22px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}